
<div class="container">
  <h1 class="text-center">Spooky</h1>
</div>



<div class="container", style="padding: 100px">
  <div class="col">
    <div class="row", style="margin: 10px">
      <button type="button" class="btn btn-primary btn-lg">Join Party</button>
    </div>
    <div class="row", style="margin: 10px">
      <button type="button" class="btn btn-primary btn-lg">Create Party</button>
    </div>

  </div>
</div>