
<div class="container">
  <h1 class="text-center">Spooky</h1>
</div>



<div class="container", style="padding: 100px">
  <div class="col">
    <div class="row">
      <button type="button" class="btn btn-primary">Join Party</button>
    </div>
    <div class="row">
      <button type="button" class="btn btn-primary">Create Party</button>
    </div>

  </div>
</div>